<h1>Report</h1>
<div class='row'>
  <%= @date %>
  <%= simple_form_for :period, { url: report_date_plans_path } do |f| %>
    <%= f.input :per, as: :date, selected: Date.today, order: [:month, :year] %>
    <%= f.button :submit %>
  <% end%>
</div>
